html, body {
    height: 100%;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif
}

body {
    background: rgb(58, 140, 170);
    background: linear-gradient(top, #4293d6 0%,#001e96 100%);
    color: #DDD;
    margin: 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1 {
    padding: 50px;
}

#leftnav {
    position: fixed;
    width: 20%;
    background-color: #444;
    height: 100%;
}

#posts {
    margin: auto;
}

#footer {
    padding-top: 40px;
}

button.button {
    padding: 10px 40px;
    margin: 10px;
}