{# declare inheritance #}
{% extends "layout.html" %}


{% block title %}{{ title }}{% endblock %}


{% block dependencies %}
{% endblock %}

{% block leftnav %}
    <div></div>
{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>


    <h1>Welcome to Droplet 1.0!</h1>
    <div class="table" id="posts">
        <!-- It seems what we need is something more specific than is defined -->
        {% if posts is defined %}
            <div class="header">
                <div class="column">Subject</div>
                <div class="column">Date</div>
                <div class="column">Snippet</div>
            </div>
            <div class="body">
                {% for post in posts %}
                <div class="row">
                    <div class="column">{{ post.subject }}</div>
                    <div class="column">{{ post.created }}</div>
                    <div class="column">
                        {% for comment in post.comments %}
                        {{ loop.length }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
