<!doctype html>

<html>
<head>
    <title>{% block title %}{% endblock %} - Droplet 1.0</title>

    {# Style dependencies #}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />

    {# Script dependencies #}
    <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>

    {# Any additional dependencies should be included here #}
    {% block dependencies %}
    {% endblock %}
</head>
<body>
    <div id="leftnav">{% block leftnav %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        &copy; Copyright 2016 by @abekim.

        {# Potentially more stuff to add to the footer? #}
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>