{# declare inheritance #}
{% extends "layout.html" %}


{% block title %}{{ title }}{% endblock %}


{% block dependencies %}
    <script src="{{ url_for('static', filename='js/newpost.js') }}" type="text/javascript"></script>
{% endblock %}


{% block content %}
    <h1>Add a new Post</h1>
    <div class="form">
        <input disabled value="disabled for now"/>
        <div>
            <button class="button" id="create">Create</button>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}